body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: #0000000d;
}

h2 {
    margin: 0;
}

.btn-primary2 {
    background: #3d86e8;
    color: #fff;
}

.btn-primary2:hover {
    background: #276fce;
}

.btn-primary2,
.btn-secondery2 {
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

.btn-secondery2 {
    background: #de2394;
}

.btn-secondery2:hover {
    background: #c5127d;
    color: #fff;
}

.add-to-card {
    display: none;
    align-items: center;
    justify-content: center;
}

i.fas.fa-cart-plus,
.fa-times {
    padding: 13px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.search-wrapper {
    display: flex;
    justify-content: center;
}

.products {
    margin: 0 15px;
}

.search-field {
    border: none;
    padding: 10px;
    outline: none;
    width: 100%;
    flex: 100%;
    background: transparent;
}

.search-field:hover {
    outline: none;
    border: none;
}


.search-box {
    max-width: 300px;
    width: 100%;
    border-radius: 7px;
    background: #fff;
    margin: 35px 0;
    display: flex;
}

.search-button {
    padding: 10px 25px;
    border-radius: 0px 7px 7px 0;
    width: 45px;
    height: 45px;
    background: #3e90f0;
    color: #fff;
    font-size: 18px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn {
    margin: 15px 0;
}


#all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    margin: auto;
    align-items: stretch;
    justify-content: center;
}

.single-product {
    padding: 10px;
    transition: 0.6s;
    margin: 10px;
    border-radius: 12px;
    background: rgb(255 255 255);
    box-shadow: 0px 0px 6px 0px rgb(71 71 71 / 37%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.single-product:hover {
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12);
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart {
    width: 280px;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255);
    box-shadow: -1px 1px 5px 0 rgb(96 96 96 / 37%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.3s ease;
}

.image-container {
    height: 220px;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
}

.product-display {
    width: calc(100% - 280px);
}

.card-header {
    width: 273px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 23px;
    font-weight: 600;
    margin: 0 auto;
    background: transparent;
    border: none;
}

.fill-gap {
    width: 280px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/* stars rating  */
.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    color: #dbdbdb;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    color: #f5e723;
}

.product {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.hide-btn {
    display: none;
}

@media only screen and (max-width: 1460px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 920px) {
    #all-products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .cart {
        margin-right: -280px;
    }

    .show {
        margin-right: 0;
    }

    .hide-btn {
        display: flex;
    }

    .add-to-card {
        display: flex;
    }

    .product-display {
        width: 100%;
    }

}
